# DGA Monitor Configuration

# Device IPs
DA115_IP=10.31.204.5
KT1A_IP=10.31.204.7
KT2A_IP=10.31.204.8
KT3A_IP=10.31.204.46

# Polling interval (seconds)
POLL_INTERVAL=15

# Gateway Poll Status check
GATEWAY_URL=http://10.29.82.42
GATEWAY_USER=admin
GATEWAY_PASSWORD=admin
CHECK_GATEWAY=true

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dga_monitor
DB_USER=postgres
DB_PASSWORD=postgres
